
* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, sans-serif;
}

body {
    background: #f7f9fb;
    color: #222;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 2rem auto;
}

h1 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #646464;
}


form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    background: #fff;
    box-shadow: 2px 2px 10px #33333338;
}

.field input {
    width: 100%;
    padding: 0.7rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.2s;
}

.field input:focus {
    outline: none;
    border-color: #2563eb;
    box-shadow: 0 0 4px rgba(37, 99, 235, 0.3);
}

button {
    padding: 0.8rem 1.2rem;
    background-color: rgb(21, 0, 255);
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    transition: background-color 0.2s, transform 0.1s;
}

button:hover {
    background-color: #00389a;
}

button:active {
    transform: scale(0.98);
}




table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;

}

thead {
    background-color: #001b1f;
    color: white;
}

th,
td {
    text-align: left;
    padding: 0.7rem;
    border-bottom: 1px solid #ddd;
}


button.edit,
button.delete {
    padding: 0.4rem 1rem;
    border: none;
    cursor: pointer;
    margin: 0 0.2rem;
    transition: transform 0.1s;
}

button.edit {
    background-color: #2563eb;
}

button.delete {
    background-color: #dc2626;
    
}


